<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            About me
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <style>
         body{
                background-image: url("../static/back.jpg")
            }
           #div{
               margin-top: %;
           }
            #di2{
                margin:5px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
            }
        #copy{
            float: right;
        }
        </style>

    </head>
    <body>
        <center>
            <h1 class="ui header">ABOUT US</h1>
            <hr>
                <div id="di2">
                    <strong>
                        <p> 
                            If you are reading this,this means you are using my application....<br>
                            A big thanks...<br>
                            I created this Application for my Own use because my attendance is very low ...<br>
                            But later i thought that this can be useful to many students....<br>
                            And finally i started Working on it...It took almost 15 days to turn this application into reality..<br>
                            And one important thing : All of your data is going directly to Acc soft..My website is only a middleware<br>
                        </p>
                       
                    </strong>
                                                                    
                    <hr>
                <div id="div">
               
                        <span><strong> My INSTAGRAM:</strong>
                          <a href="https://www.instagram.com/tusharupadhyay_/">
                            <i class="instagram huge icon"></i>
                            </a>
                                          </span>
                                  </div>

        <h2>A product by Tushar Upadhyay</h2>
           <h3>Special thanks : ARNAV</h3>
            <p>Special support : PUSHPESH and SUMIT<br>
                <div>
                <a href="/">
                <button class="ui green button">HOME</button>
             </a>
             </div>
            </p>
                <div id="div3">
               <h2>
                 Any suggestions ?
                 Leave on Sarahah....
                  <a style="padding-top:10px" href="https://tusharpgo.sarahah.com">Click here</a>
               </h2> 
              
               </div>              
        </center>
    </body>

</html>